	<div id="post_content">
		<h1 id="post_content_h1">
		    <%= @post.title %><br>
	  	</h1>
		<p id="post_content_p">
			<%= @post.content %><br>
		</p>

		<div>
			<h2><%= @post.comments.count %> comment on this post</h2>
			<%= render @post.comments %>

			<h3>Reply this Post</h3>
			<%= render 'comments/form' %>
		</div>
	</div><br>

	<button id="myButton">
		<%= link_to 'Edit Post', edit_post_path(@post) %>
	</button>
	<button id="myButton">
		<%= link_to 'Delete Post', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
	</button>
